:root {
	--slideHeight: 36px;
	--railHeight: 6px;
	--railColor: #e5e7eb;
	--textColor: #6b7280;
	--fontSize: 14px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--railColor: #363636;
		--textColor: #6b7280;
	}
}

/* slider wrap */
.slider {
	position: relative;
	touch-action: none;
	height: var(--slideHeight);
	font-size: var(--fontSize);
}

.slider div {
	user-select: none;
	-webkit-user-select: none;
}

/* slide zone */
.slider .rail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

/*  */
.slider .line {
	position: absolute;
	left: 0;
	right: 0;
	height: var(--railHeight);
	background: var(--railColor);
	/* transition: transform 0.2s ease; */
}

/* focus scale animation */
.slider.sliding .line {
	/* transform: scaleY(1.4); */
}

.slider .range {
	position: absolute;
	height: 100%;
	will-change: left, width;
}

.slider .lbls {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.slider .val {
	position: absolute;
	/* transform-origin: center; */
	/* transform: translateX(-50%); */
	will-change: left, transform;
	white-space: nowrap;
}

.slider .lbl {
	position: absolute;
	color: var(--textColor);
	transform: translateY(calc(1em + var(--railHeight) + 3px));
}

.slider .mn {
	left: 0;
}

.slider .mx {
	right: 0;
}