:root {
	--slideHeight: 36px; /* slider height */
	--trackHeight: 6px; /* slide track height */
	--focusHeight: 10px; /* sliding track height */
	--trackColor: #e5e7eb; /* track background color */
	--textColor: #6b7280; /* min & max labels color */
	--fontSize: 14px; /* labels font size */
	--animate: 0.2s ease; /* sliding state animation */

	/* PRECALC LABELS OFFSETS */

	--textSpc: calc(var(--trackHeight) * 2 / 3);
	--textOff: calc((var(--fontSize) + var(--textSpc)) * -1);
	--slidSpc: calc(var(--focusHeight) * 2 / 3);
	--slidOff: calc((var(--fontSize) + var(--slidSpc)) * -1);
}

/* DARK THEME */

@media (prefers-color-scheme: dark) {
	:root {
		--trackColor: #363636;
		--textColor: #6b7280;
	}
}

/* SLIDER WRAP */

.slider {
	position: relative;
	touch-action: none;
	height: var(--slideHeight);
	font-size: var(--fontSize);
	color: var(--textColor);
	cursor: pointer;
}

.slider div {
	user-select: none;
	-webkit-user-select: none;
}

/* TRACK & RANGES */

.slider .track {
	position: absolute;
	top: 50%;
	width: 100%;
	height: var(--trackHeight);
	transform: translateY(-50%);
	background: var(--trackColor);
	will-change: height;
	transition: height var(--animate);
}

.slider .range {
	position: absolute;
	height: 100%;
	will-change: left, width;
}

/* LABELS */

.slider .vals,
.slider .lbls {
	position: absolute;
	top: 50%;
	width: 100%;
	transition: transform var(--animate);
}

/* VALUES */

.slider .vals {
	transform: translateY(var(--textOff));
}

.slider .val {
	position: absolute;
	will-change: left, transform;
	white-space: nowrap;
}

/* MIN MAX */

.slider .lbls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(var(--textSpc));
}

/* SLIDING STATE */

.slider.sliding .track {
	height: var(--focusHeight);
}

.slider.sliding .vals {
	transform: translateY(var(--slidOff));
}

.slider.sliding .lbls {
	transform: translateY(var(--slidSpc));
}
