.slider {
	position: relative;
	touch-action: none;
	user-select: none;
	height: 36px;
	font-size: 14px;
}

.slider div {
	user-select: none;
}

.slider .rail {
	position: relative;
	height: 100%;
	cursor: pointer;
}

.slider .line {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 6px;
	background: #e5e7eb;
	transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
	.slider .line {
		background: #363636;
	}
}

.slider .range {
	position: absolute;
	height: 100%;
	/* uncomment to enable value-slide delay offset  */
	/* transition: all 0.08s ease-out; */
	will-change: left, width, z-index;
}

.slider .lbls {
	position: absolute;
	width: 100%;
	top: 50%;
	pointer-events: none;
}

.slider .lbls .lbl {
	position: absolute;
	color: #6b7280;
	bottom: -20px;
}

.slider .lbls .val {
	position: absolute;
	transform: translateX(-50%) translateY(-120%);
	transition: transform 0.2s ease;
	will-change: left, transform, z-index;
}

.slider .val.lift {
	transform: translateX(-50%) translateY(-200%);
}

.slider .lbls .mn {
	left: 0;
}

.slider .lbls .mx {
	right: 0;
}